html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

/* Card attributes: */
.cardProject {
  width: 40rem;
  height: 95rem;
  /* background-color: "#2b2b2b"; */
  background-color: rgba(255, 255, 255, 0.972) !important;
  border-radius: 12px;
  padding-bottom: 10rem;
}

@media (max-width: 768px) {
  .cardProject {
    width: 32rem !important;
    height: 90rem !important;
  }
}

.cardProject:hover {
  box-shadow: 5px 10px 20px 1px rgba(155, 150, 150, 0.972) !important;
  z-index: 1;
}

@media (max-width: 768px) {
  .cardProject:hover {
    box-shadow: none;
  }
}

.cardProject-body {
  /* padding: 2rem 0 !important; */
}

/* text attributes: */
.cardProject-text {
  font-size: 0.9rem;
  padding: 0.4rem 1.9rem;
}

.container-fluid.row {
  /* padding-top: 6rem; */
}

.overflow {
  overflow: hidden;
}

.h2 {
}

/* Images attributes: */
.cardProject-img-top {
  height: 20rem;
  width: 20rem;
  transform: scale(1);
  transition: transform 0.5s ease;
}

.cardProject-img-top:hover {
  transform: scale(1.1);
}

.iconsRow1 {
  /* padding-top: 3rem; */
}
